<div class="row">
  <div class="col-md-5">
    <%= image_tag 'ProfileImage.jpg', width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-7">
    <h1><b><u>About Me</u></b></h1>
    <p>Having been in love with writing and technology for most of my life, I decided I was going to create my own site with blogposts, portfolios for picutres, and any other content I might create.</p>

    <p>I tend to write about my life a lot because that's where a lot of my thoughts are centered. I wander in the worlds of poetry, prose, dialogue, monologue, and fiction when I can. A lot of it stems from life experiences, but some of it is based on what I read, podcasts I listen to, shows or movies I watch, and a fair amount of professional wrestling from all over the world.</p>

    <blockquote cite="https://www.goodreads.com/quotes/20080-what-is-a-poet-an-unhappy-man-who-hides-deep">
      <i>What is a poet? An unhappy man who hides deep anguish in his heart, but whose lips are so formed that when the sigh and cry pass through them, it sounds like lovely music.... And people flock around the poet and say: "Sing again soon" - that is, 'May new sufferings torment your soul but your lips be fashioned as before, for the cry would only frighten us, but the music, that is blissful.</i>
    </blockquote>
    <p> - Søren Kierkegaard</p>
  </div>
</div>
