<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>

      <div class="col-md-auto" align="center">
        <h1>Talk to me</h1>
        <h3>Home:</h3>
        <p>Omaha, NE</p>

        <h3>Twitter:</h3>
        <p>@CoffinBuilder</p>

        <h3>Instagram:</h3>
        <p>@St_Simulacra</p>

        <h3>E-mail:</h3>
        <p><a href="mailto:jrshafer@mac.com">E-mail me</a></p>
      </div>

    <div class="col-md-2">
    </div>
  </div>
</div>
